* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  line-height: 1.5;
}

main {
  background-color: hsl(0deg, 0%, 60%);
}

p {
  font-size: 1.25rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}


.card, .intro-chunk {
  padding: 16px;
  max-width: 768px;
}

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin: 0px;
  margin-left: -24px;
  padding: 16px 24px;
  width: fit-content;
}

.intro-chunk {
  background-color: white;
}


.max-width-wrapper {
  padding: 32px;
}

.max-width-wrapper > * {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .max-width-wrapper {
    padding: 32px 0px;
  }
}
